/target
vach-benchmarks/target

.vscode
.idea

perf.data
perf.data.old
workspace.code-workspace
.cargo/config.toml

# Test Data
./vach/test_data/encrypted/target.vach
./vach/test_data/signed/target.vach
./vach/test_data/simple/target.vach

# Cargo
.cargo